/* You can add global styles to this file, and also import other style files */
@import 'material-symbols';
@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
    --hover-button-bg: mediumslateblue;
    --hover-button-fg: lightgrey;
    --button-bg: transparent;
    --button-fg: dimgrey;
    font-family: 'Roboto';
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
