
<mat-divider></mat-divider>
My Classes
<mat-accordion>
  @for (c of classes$ | async; track c.id) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{c.name}}</mat-panel-title>
        <mat-panel-description>{{c.assignments.length}} Assignments</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false">
      @for (assignment of c.assignments; track assignment.id) {
          <mat-list-option>{{assignment.title}}</mat-list-option>
      }
      </mat-selection-list>
    </mat-expansion-panel>
  }
  @empty {
  <strong>You have no classes.</strong>
  }
</mat-accordion>
