<h2 mat-dialog-title>Register</h2>
<form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && handleSubmit()">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="FirstName" required>
            
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="LastName" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="Email" required ngModel email>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="Password" required minlength="8">
            <mat-hint>Must be at least 8 characters long</mat-hint>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button="filled" mat-dialog-close>Close</button>
        <button mat-button="filled" mat-dialog-close [disabled]="!loginForm.valid" type="submit" cdkFocusInitial>Submit</button>
    </mat-dialog-actions>
</form>

