nav {
  width: 3em;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightgrey;
}

a {
  display:block;
  background-color: var(--button-bg);
  color: var(--button-fg);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

a:hover {
  background-color: var(--hover-button-bg);
  color: var(--hover-button-fg);
}
